html {
    height: 100vh;
    font-size: 15px;
}

body {
    height: 100%;
    margin: 0;
    background-color: hsl(0, 0%, 98%);
}

main {
    height: 100%;
    max-width: 70%;
    margin: 0 auto;
}

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

h3 {
    color: hsl(234, 12%, 34%);
    margin: 0;
    font-size: 1.78vh;
}

p {
    color: hsl(229, 6%, 66%);
    margin: 0;
    font-size: 1.3vh;
}

.header p {
    font-size: 1.3rem;
}

.highlight {
    color: hsl(234, 12%, 34%);
}

.about-us {
    font-size: 1.4vh;
}

.header-layout {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.card-layout {
    height: 80%;
}

.card-container-1,
.card-container-3 {
    height: 25%;
    display: flex;
    flex-direction: column;
}

.card-container-1 {
    justify-content: flex-end;
}

.card-container-3 {
    justify-content: flex-start;
}

.card-container-2 {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    height: 90%;
    padding: 1.2em;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 5px 15px lightgray;
}

.card-container-2 > .card {
    height: 45%;
}

.card-content {
    height: 60%;
}

.card-image {
    height: 40%;
    text-align: right;
}

img {
    width: 35px;
    height: 35px;
}

.supervisor {
    border-top: 2px solid hsl(180, 62%, 55%);
}

.team-builder {
    border-top: 2px solid hsl(0, 78%, 62%);
}

.karma {
    border-top: 2px solid hsl(34, 97%, 64%);
}

.calculator {
    border-top: 2px solid hsl(212, 86%, 64%);
}

/* MEDIA QUERIES */

@media screen and (min-width: 640px) {
    main {
        max-width: 50%;
    }
}

@media screen and (min-width: 768px) {
    main {
        max-width: 75%;
    }
    .header p {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2vw;
    }
    p {
        font-size: 0.85vw;
    }
    .about-us {
        font-size: 0.95vw;
    }
    .card-layout {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .card-container-1,
    .card-container-2,
    .card-container-3 {
        height: 100%;
        flex-basis: 33.33%;
    }
    .card-container-1,
    .card-container-3 {
        justify-content: center;
    }
    .card-container-2 {
        justify-content: center;
        gap: 20px;
    }
    .card,
    .card-container-2 > .card {
        height: 30%;
    }
    img {
        width: 45px;
        height: 45px;
    }
}

@media screen and (min-width: 1024px) {
    .header p {
        font-size: 1.8rem;
    }
    .card,
    .card-container-2 > .card {
        height: 35%;
    }
    img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .header p {
        font-size: 1.85rem;
    }
    .card,
    .card-container-2 > .card {
        height: 40%;
    }
    img {
        width: 55px;
        height: 55px;
    }
}

@media screen and (min-width: 1600px) {
    .header p {
        font-size: 1.9rem;
    }
    .card,
    .card-container-2 > .card {
        height: 45%;
    }
    img {
        width: 64px;
        height: 64px;
    }
}
